.container {
    padding: 2.75rem 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.progress {
    color: var(--white);
    font-weight: 600;
}


