.container {
    position: relative;
}

.circle {
    transform: rotate(-90deg);
}

 .background {
    fill: transparent;
    stroke: var(--bright-gray);
}

 .progress {
    fill: transparent;
    stroke: var(--pink);
    transition: stroke-dashoffset 0.1s ease;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.25rem;
    font-weight: 800;
    color: var(--white);
}
